<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Seja bem-vindo!</h3>
                            <form novalidate [formGroup]="form" (ngSubmit)="login()">
                                <div class="form-label-group">
                                    <input type="text" id="username" formControlName="username" class="form-control"
                                        [ngClass]="{ 'is-invalid': form.controls.username.invalid && form.controls.username.touched }"
                                        placeholder="Digite seu nome de usuário" required autofocus>
                                    <div *ngIf="form.controls.username.invalid && form.controls.username.touched"
                                        class="invalid-feedback">
                                       Usuário inválido | mínimo 6 caracteres
                                    </div>
                                    <div *ngIf="this.msg"
                                        class="text-danger">
                                       {{this.msg}}
                                    </div>
                                </div>

                                <!-- <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div> -->

                                <button
                                    class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2 mt-2"
                                    type="submit">Entrar
                                </button>
                                <div class="text-center">
                                    <a class="small" [routerLink]="['/register']">Não possui uma conta?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>